{% assign image = section.settings.image %}

<div class="container-fluid text-center md:text-left mb-12 md:mb-24 {{css_classes}} border-black border-b-4">
  <div class="lg:w-full h-screen relative">
    {% if image %}
      <img
        sizes="
          (min-width: 1280px) 1500px,
          (min-width: 1024px) 1250px,
          (min-width: 768px) 1000px,
          (min-width: 640px) 720px,
          600px
        "
        srcset="
          {{ image | img_url: '600x' }} 600w,
          {{ image | img_url: '720x' }} 720w,
          {{ image | img_url: '1000x' }} 1000w,
          {{ image | img_url: '1250x' }} 1250w,
          {{ image | img_url: '1500x' }} 1500w
        "
        src="{{ image | img_url: '1500x' }}"
        alt="{{ image.alt }}"
        loading="lazy"
        class="w-full h-full object-cover object-center"
      >
    {% else %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'w-full h-full' }}
    {% endif %}

    <div class="container w-full md:max-w-xl absolute top-1/4 md:left-64 pt-0 md:p-6 md:mb-8 md:mr-8">
      <div class="text-5xl font-black mb-2 text-white font-infinite_stroke text-shadow-md">
        {{ section.settings.headline }}
        <strong class="md:text-7xl">365</strong> <small>Days</small>,<br/> <strong class="md:text-7xl">30</strong> <small>Species!</small>
      </div>
      <div class="text-3xl text-white text-shadow font-hermona">
        {{ section.settings.subheading }}
      </div>
      <div class="mb-6 text-xl text-white text-shadow">
        {{ section.settings.text }}
      </div>

      <a href="{{ section.settings.button-url }}" class="button button-primary text-3xl border-green font-hermona">
        {{ section.settings.button-text }}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.hero.name",
  "class": "shopify-section-vue",
  "settings": [
    {
      "type": "text",
      "id": "classes",
      "label": "Classes",
      "default": "Seperate classes by space"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:common.image"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "t:common.headline",
      "default": "Headline"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:common.headline",
      "default": "Subheading"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "t:common.text",
      "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos hic praesentium recusandae dolores odio animi deleniti officia cum itaque."
    },
    {
      "type": "url",
      "id": "button-url",
      "label": "t:common.button.url"
    },
    {
      "type": "text",
      "id": "button-text",
      "label": "t:common.button.text",
      "default": "Button"
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero.name",
      "category": "Image"
    }
  ]
}
{% endschema %}